@use "/src/styles/variable.scss" as *;

.pro-page {
  width: 100%;
  max-width: calc(100% - 32px);
  height: 100%;
  max-height: calc(100% - 32px);
  background-color: $page-bg-color;
  @include border-radius(12px 12px 12px 12px);
  padding: 32px;

  .pro-team,
  .pro-cus {
    margin: 6px 0;

    .title {
      font-size: 3.2rem;
    }
    .pro-box {
      display: flex;
      align-items: center;

      .products {
        width: 100%;
        max-width: 1920px;
        padding: 12px;
        margin: 6px auto;
        box-shadow: 2px 2px 3px $shadow-color;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        .pro-frame {
          width: 330px;
          height: 120px;
          margin: 0 6px;
          padding: 0 6px 0 6px;
          background-color: $shadow-color;
          border: 1px solid $border-color;
          @include border-radius(15px 15px 15px 15px);

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
