@use "/src/styles/variable.scss" as *;

.pro-page {
  width: 100%;
  max-width: calc(100% - 32px);
  height: 100%;
  max-height: calc(100% - 32px);
  background-color: $page-bg-color;
  @include border-radius(12px 12px 12px 12px);
  padding: 32px;

  .pro-team,
  .pro-cus {
    margin: 6px 0;

    .scroll {
      display: flex;
      justify-content: space-between;

      .title {
        font-size: 3.2rem;
      }
      .next-prev {
        .prev,
        .next {
          width: 44px;
          height: 44px;
          color: black;
          background-color: white;
          border-radius: 90%;
          margin-left: 18px;
        }
      }
    }
    .pro-box {
      display: flex;
      align-items: center;

      .products {
        width: 100%;
        max-width: 1584px;
        padding: 12px;
        margin: 6px auto;
        box-shadow: 2px 2px 3px $shadow-color;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        .pro-frame {
          width: 220px;
          height: 120px;
          margin: 0 6px;
          padding: 0 6px 0 6px;
          background-color: $shadow-color;
          border: 1px solid $border-color;
          @include border-radius(15px 15px 15px 15px);

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

@media (min-width: 1366px) and (max-width: 1919px) {
  .pro-page {
    .pro-team,
    .pro-cus {
      .pro-box {
        .products {
          .pro-frame {
            width: 220px;
            height: 120px;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  .pro-page {
    .pro-team,
    .pro-cus {
      .pro-box {
        .products {
          .pro-frame {
            width: 180px;
            height: 120px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .pro-page {
    .pro-team,
    .pro-cus {
      .pro-box {
        .products {
          .pro-frame {
            width: 120px;
            height: 120px;
          }
        }
      }
    }
  }
}

@media (min-width: 630px) and (max-width: 767px) {
  .pro-page {
    .pro-team,
    .pro-cus {
      .pro-box {
        .products {
          .pro-frame {
            width: 120px;
            height: 120px;
          }
        }
      }
    }
  }
}

@media (min-width: 430px) and (max-width: 629px) {
  .pro-page {
    .pro-team,
    .pro-cus {
      .pro-box {
        .products {
          .pro-frame {
            width: 200px;
            height: 120px;
          }
        }
      }
    }
  }
}

@media (max-width: 429px) {
  .pro-page {
    .pro-team,
    .pro-cus {
      .pro-box {
        .products {
          .pro-frame {
            width: 120px;
            height: 120px;
          }
        }
      }
    }
  }
}
