$main-text-font: "Poppins", sans-serif;
$main-text-color: #ffff;
$primary-text-color: #000000;

$shadow-color: rgba(255, 255, 255, 0.5);
$border-color: rgba(180, 180, 180, 0.8);
$frame-color: rgba(255, 255, 255, 0.85);

$box-color: rgba(0, 0, 0, 0.85);
$box-shadow: rgba(25, 25, 25, 0.65);

$page-bg-color: rgba(0, 0, 0, 0.75);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
