@use "/src/styles/variable.scss" as *;

.ser-page {
  width: 100%;
  max-width: calc(100% - 16px);
  height: 100%;
  max-height: calc(100% - 16px);
  background-color: $page-bg-color;
  @include border-radius(12px 12px 12px 12px);
  padding: 16px;

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: $shadow-color;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.3);
    border-radius: 6px;
  }

  .title {
    font-size: clamp(1.2rem, 2.2vw, 2.8rem);
  }

  .frame {
    width: 100%;
    margin: 9px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .levels {
      width: 570px;
      height: 100vw;
      margin: 6px 0;

      background-color: $shadow-color;
      border: 1px solid $border-color;
      @include border-radius(15px 15px 15px 15px);
    }
  }
}
