@use "/src/styles/variable.scss" as *;

.wrapper {
  width: 100%;
  height: 97vh;
  margin-left: 8px;
  padding: 24px;
  @include border-radius(15px 15px 15px 15px);

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &.active-tab {
    animation: fadeIn 0.25s ease-in forwards;
  }

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 6px;
  }

  .frame {
    width: 450px;
    height: 100%;
    margin: 6px;
    padding: 12px;
    background-color: $frame-color;
    @include border-radius(15px 15px 15px 15px);

    display: flex;
    flex-direction: column;

    .top {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      .top-title {
        height: 60px;
        font-size: clamp(1.4rem, 3.2vw, 1.9rem);
        background-color: $box-color;
        padding: 0 6px;
        @include border-radius(8px 8px 8px 8px);
        box-shadow: 0px 0px 5px $box-shadow;

        display: flex;
        align-items: center;
      }

      .price {
        font-size: clamp(3.2rem, 3.2vw, 4.8rem);
        color: $primary-text-color;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .mid {
      width: 100%;
      flex: 2;
      border-top: 1px solid $box-color;
      border-bottom: 1px solid $box-color;
      padding: 12px;

      .desc {
        color: $primary-text-color;
        font-size: clamp(1.2rem, 3.2vw, 2.4rem);
        margin: 12px 0;
      }
    }

    .bottom {
      width: 100%;
      flex: 1;
    }
  }
}

@media (min-width: 1920px) {
  .wrapper {
    .frame {
      width: 32%;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
