@use "/src/styles/variable.scss" as *;

.int-page {
  width: 100%;
  height: 100%;
  background-color: $page-bg-color;

  padding: 16px;
  opacity: 0;

  &.active-transition {
    animation: fadeIn 0.25s ease-in forwards;
  }

  .frame {
    .title {
      font-size: clamp(1.6rem, 2.2vw, 3.2rem);
      margin: 6px 0;
    }

    .desc {
      font-size: clamp(1.2rem, 2.2vw, 2.4rem);
      margin: 12px 0;
    }

    .img {
      width: 100%;
      height: 600px;
      object-fit: cover;
      margin-bottom: 16px;
      @include border-radius(12px 12px 12px 12px);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
